@tailwind base;
@tailwind components;
@tailwind utilities;


.text{
  color: #F58720;
  font-family: sans-serif;
}

.backgroud-color{
  background: linear-gradient(to top, #F8BF3B, #EF5F3D, #F5712C, #FF8B13);
}

.backgroud-button{
  background: linear-gradient(to left, #F8BF3B, #EF5F3D, #F5712C, #FF8B13);
}